In [145]:
import pandas as pd
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split

In [100]:
import sklearn
print(sklearn.__version__)

0.19.0

In [101]:
#os.listdir()

In [102]:
#Read the csv file
df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [103]:
#get rid of columns we do not need
df = df.drop(['PassengerId', 'Name','Cabin', 'Ticket'], axis=1)
#get rid of columns we do not need in test_df
test_df = test_df.drop(['PassengerId', 'Name','Cabin', 'Ticket'], axis=1)

In [104]:
#Visualise missing data
print(df.isnull().sum())

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [105]:
#Dropping 2 rows with NaN in Embarked.
df = df.dropna(subset=['Embarked'], how='all')

In [106]:
#Visualise missing data
print(df.isnull().sum())

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [67]:
df_dum.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

In [68]:
#get rid of redundant data
df_dum = df_dum.drop(['Sex_female', 'Embarked_C'], axis=1)

In [69]:
df_dum.head()

   Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0       3  22.0      1      0   7.2500         1           0           1
1       1  38.0      1      0  71.2833         0           0           0
2       3  26.0      0      0   7.9250         0           0           1
3       1  35.0      1      0  53.1000         0           0           1
4       3  35.0      0      0   8.0500         1           0           1

In [ ]:
df_dum = pd.get_dummies(df)
y = df_dum['Survived']
X = df_dum.drop('Survived', axis=1)

In [70]:
#Instatiate imputer object
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [71]:
imp.fit(df_dum)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [72]:
df_dum = imp.transform(df_dum)

In [134]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=42)

array([[  3.       ,  22.       ,   1.       , ...,   1.       ,
          0.       ,   1.       ],
       [  1.       ,  38.       ,   1.       , ...,   0.       ,
          0.       ,   0.       ],
       [  3.       ,  26.       ,   0.       , ...,   0.       ,
          0.       ,   1.       ],
       ...,
       [  3.       ,  29.6420927,   1.       , ...,   0.       ,
          0.       ,   1.       ],
       [  1.       ,  26.       ,   0.       , ...,   1.       ,
          0.       ,   0.       ],
       [  3.       ,  32.       ,   0.       , ...,   1.       ,
          1.       ,   0.       ]])

In [74]:
f.fit(df_dum, y)

/opt/ds/lib/python3.4/site-packages/sklearn/ensemble/forest.py:720: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=6, n_jobs=1,
           oob_score=True, random_state=None, verbose=0, warm_start=False)

In [75]:
f.oob_score_

0.14243169228430363

In [ ]:
prediction = f.predict()

In [104]:
test_df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [105]:
#Visualise missing data
print(test_df.isnull().sum())

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [106]:
#Dropping 1 row with NaN in Fare.
test_df = test_df.dropna(subset=['Fare'], how='all')

In [107]:
#Visualise missing data
print(test_df.isnull().sum())

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         0
Embarked     0
dtype: int64

In [112]:
df_d_target = pd.get_dummies(test_df)

In [113]:
#get rid of columns we do not need
df_d_target = df_d_target.drop(['Sex_female', 'Embarked_C'], axis=1)

In [115]:
imp.fit(df_d_target)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [116]:
df_d_target = imp.transform(df_d_target)

In [22]:
#Trying pipeline instead
#--------------------------------------------------------------------------------------------------------------------------

In [142]:
df = pd.read_csv("train.csv")
#get rid of columns we do not need
df = df.drop(['PassengerId', 'Name','Cabin', 'Ticket'], axis=1)

#Dropping 2 rows with NaN in Embarked.
df = df.dropna(subset=['Embarked'], how='all')

df_dum = pd.get_dummies(df)
#get rid of columns we do not need
df_dum = df_dum.drop(['Sex_female', 'Embarked_C'], axis=1)

y = df_dum['Survived']
df = df_dum.drop('Survived', axis=1)

In [146]:
from sklearn.pipeline import Pipeline

imp1 = Imputer(missing_values='NaN', strategy='mean', axis=0)
f1 = RandomForestClassifier(max_depth = 10, min_samples_split=2, n_estimators = 100, random_state = 1)

steps = [('imputation', imp1),('random_forest', f1)]

pipeline = Pipeline(steps)

X = df

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=42)

pipeline.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('imputation', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('random_forest', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0...stimators=100, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False))])

In [147]:
y_pred = pipeline.predict(X_test)

In [148]:
pipeline.score(X_test, y_test)

0.80524344569288386

In [151]:
model = pipeline.fit(X_train, y_train)

In [152]:
y_pred1 = model.predict(X_test)

In [153]:
model.score(X_test, y_test)

0.80524344569288386

In [154]:
#save to pickle file
import pickle
model_file = 'model.pkl'
p = open(model_file, 'wb')
pickle.dump(model, p)
p.close()

In [155]:
#os.getcwd()

In [156]:
#Open pickle file
p = open(model_file, 'rb')
openmodel = pickle.load(p)
openmodel.score(X_test, y_test)

0.80524344569288386

In [162]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred,))

             precision    recall  f1-score   support

          0       0.81      0.89      0.85       167
          1       0.79      0.66      0.72       100

avg / total       0.80      0.81      0.80       267

In [164]:
len(y_test)

267

In [149]:
print(format(y_pred))

[0 1 1 0 1 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1
 0 0 0 0 0 0 0 1 0 1 0 0 1 1 1 0 0 1 1 0 0 0 0 0 1 1 0 1 0 0 1 1 1 0 1 1 0
 0 1 0 0 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0
 0 0 1 0 0 0 0 1 0 1 1 0 0 1 1 0 1 1 0 1 0 0 0 0 1 0 1 0 1 1 0 1 0 1 0 0 1
 0 1 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 1 1 1 1 0 1 0 0 1 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 1
 1 1 1 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 0 0 0 1 0]

In [188]:

x1=pd.read_csv("X_test.csv", header=None)    
x1.drop(x1.columns[[0]], axis=1, inplace=True)
y1=pd.read_csv("y_test.csv", header=None)    
y1.drop(y1.columns[[0]], axis=1, inplace=True)
x1=x1.drop(x1.index[0], inplace=True)

In [ ]:
df = df.drop(['PassengerId', 'Name', 'Cabin', 'Ticket'], axis=1)

# Convert Sex & Embarked columns to binary
df_dum = pd.get_dummies(df)

    # get rid of redundant data
df_dum = df_dum.drop(['Sex_female', 'Embarked_C'], axis=1)